<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://avatars.githubusercontent.com/u/63347504" type="image/png">
    <title>{{#resume.basics}}{{html_title}}{{/resume.basics}}</title>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC|Nunito+Sans:400,700&display=swap" rel="stylesheet">
    <style>{{{css}}}</style>
  </head>

  <body itemscope itemtype="http://schema.org/Person">
    
    <div class="container">
      <section class="row">
        <div class="card-wrapper">
          {{#resume.basics}}
          <div class="card">
            <div class="profile-card">
                <div class="profile-pic">
                  <img class="media-object img-circle center-block"  data-src="holder.js/100x100"
                    alt="{{name}}" src="{{picture}}" itemprop="image">
                </div>
                <div class="contact-details">
                  <div class="name-and-profession">
                    <h3 class="text-bolder name" itemprop="name"> {{name}}</h3>
                    <div class="text-muted job" itemprop="jobTitle">{{label}}</div>
                  </div>

                  {{#if address}}
                    <div class="text-muted info" itemprop="address" style="font-size:0.9em">{{address}}</div>
                  {{/if}}

                  {{#if email}}
                    <div class="detail">
                      <span class="info">
                        <a href="mailto:{{email}}" class="link-disguise" itemprop="email" target="_blank">{{email}}</a>
                      </span>
                    </div>
                  {{/if}}

                  {{#if phone}}
                    <div class="detail">
                      <a href="tel://{{phone}}" class="link-disguise info" itemprop="telephone" target="_blank">
                        {{phone}}
                      </a>
                    </div>
                  {{/if}}

                </div>

              <div class="social-links">
                {{#profiles}}
                  <a class="social-link icon" href="{{url}}" target="_blank">
                    <span class="iconify" data-icon="{{toSocialIcon network}}"></span>
                  </a>
                {{/profiles}}
              </div>
            </div>
          </div>
          {{/resume.basics}}

        </div>
      </section>

      <section class="row page">
        <div class="card-wrapper">
          <div class="card background-card">

            <h4 id="about"><span class="title">自我描述</span> </h4>
            <div class="card-nested" itemprop="description">
              <p> {{breaklines resume.basics.summary}} </p>
            </div>

            <div id="work-projects-group">
              {{#if resume.projects}}
              <div id="projects">
                <h4><span class="title">项目经历</span></h4>
                <div class="list-unstyled projects">
                  <div class="project-table">
                  {{#each resume.projects}}
                    <li class="card-nested {{domClasses}}">
                      <div class="content has-sidebar">
                        <p class="clear-margin-sm" itemprop="award">
                          <strong>{{displayName}}</strong>&nbsp
                          {{#if githubUrl}}
                            <a href="{{githubUrl}}" class='icon' target="_blank">
                              <span class="iconify" data-icon="{{toSocialIcon 'github'}}"></span>
                            </a>
                          {{/if}}
                          {{#if website}}
                            <a href="{{website}}" class='icon' target="_blank">
                              <span class="iconify" data-icon="{{toSocialIcon 'link'}}"></span>
                            </a>
                          {{/if}}
                        </p>
                        <p class="text-muted">
                          基于{{#each primaryLanguage}} <small>{{.}}<span> + </span></small> {{/each}}开发
                        </p>
                        <p class="text-muted print-hidden project-description">{{description}}</p>
                        {{#if achievements}}
                        <div class="achievements print-hidden">
                          <strong>主要成就：</strong>
                          <ul>
                            {{#each achievements}}
                              <li>{{.}}</li>
                            {{/each}}
                          </ul>
                        </div>
                        {{/if}}
                      </div>
                    </li>
                  {{/each}}
                  </div>
                  <div class='px10'></div>
                </div>
              </div>
              {{/if}}

              <div id="work-experience">
                <h4> <span class="title">工作经验</span> </h4>
                <ul class="list-unstyled">
                  {{#each resume.work}}
                    <li class="card-nested relax">
                      <div class="content has-sidebar">
                        <p class="clear-margin-sm">
                          <strong>{{#if website}}<a href="{{website}}" target="_blank">{{company}}</a>{{else}}{{company}}{{/if}}</strong>
                          <span class="text-muted" style="margin-left: 0.3em">{{position}}</span>
                        </p>
                        <p class="text-muted">
                          <small>
                            <span class="space-right"> {{startDate}} - {{#if endDate}}{{endDate}}{{else}}至今{{/if}} | {{location}}</span>
                          </small>
                        </p>
                        <p>{{description}}</p>
                        {{#if highlights}}
                          <ul class='highlight'>
                            {{#each highlights}}
                              <li> {{.}} </li>
                            {{/each}}
                          </ul>
                        {{/if}}
                      </div>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>

            <h4 id="skills"><span class="title">专业技能</span> </h4>
            <div class="card-nested" itemprop="description">
              <div class="skill-categories">
                {{#each resume.skills}}
                <div class="skill-category">
                  <h5 class="skill-category-title">{{category}}</h5>
                  <div class="skill-keywords">
                    {{#each keywords}}
                      <span class="skill-keyword">{{.}}</span>
                    {{/each}}
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
            <div class='px10'></div>

            <h4 id="self-evaluate"><span class="title">自我评价</span> </h4>
            <div class="card-nested" itemprop="description">
              <ul class="self-evaluate-list">
                {{#each resume.selfEvaluate}}
                  <li>{{.}}</li>
                {{/each}}
              </ul>
            </div>
            <div class='px10'></div>

            {{#if resume.certifications}}
            <h4 id="certifications"><span class="title">专业认证</span></h4>
            <div class="card-nested">
              <ul class="list-unstyled">
                {{#each resume.certifications}}
                  <li class="certification-item">
                    <strong>{{name}}</strong> - {{issuer}}
                    <span class="text-muted">（{{date}}）</span>
                  </li>
                {{/each}}
              </ul>
            </div>
            <div class='px10'></div>
            {{/if}}

            {{#if resume.publications}}
            <h4 id="publications"><span class="title">技术出版物</span></h4>
            <div class="card-nested">
              <ul class="list-unstyled">
                {{#each resume.publications}}
                  <li class="publication-item">
                    <p class="clear-margin-sm">
                      <strong>{{name}}</strong>
                      {{#if url}}<a href="{{url}}" target="_blank" class="icon"><span class="iconify" data-icon="{{toSocialIcon 'link'}}"></span></a>{{/if}}
                    </p>
                    <p class="text-muted">{{publisher}} - {{releaseDate}}</p>
                    {{#if summary}}<p>{{summary}}</p>{{/if}}
                  </li>
                {{/each}}
              </ul>
            </div>
            <div class='px10'></div>
            {{/if}}

            <div id="education">
              <h4><span class="title">教育经历</span></h4>
              <ul class="list-unstyled">
                {{#each resume.education}}
                  <li class="card-nested">
                    <div class="content has-sidebar">
                      <p class="clear-margin-sm">
                        <strong>{{institution}}{{#if department}} {{department}}{{/if}}{{#if area}} {{area}}{{/if}}</strong>
                      </p>
                      <p class="text-muted clear-margin-sm">
                        <small>
                          {{startDate}} 至 {{#if endDate}} {{endDate}}{{else}}至今{{/if}}&nbsp;{{studyType}}
                        </small>
                      </p>
                      {{#if description}}<div>{{description}}</div>{{/if}}
                      {{#if gpa}}<i>{{gpa}}</i>{{/if}}
                      {{#if courses}}
                      <div class="space-top labels">
                        {{#each courses}} <span class="label label-keyword">{{.}}</span> {{/each}}
                      </div>
                      {{/if}}
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>

            {{#if resume.awards}}
            <h4 id="awards"><span class="title">荣誉奖项</span></h4>
            <ul class="list-unstyled">
              {{#each resume.awards}}
                <li class="card-nested">
                  <div class="content has-sidebar">
                    <p class="clear-margin-sm" itemprop="award">
                      <strong>{{title}}</strong>&nbsp;
                      {{awarder}}
                    </p>
                    <p class="text-muted clear-margin-sm">
                      <small> {{date}} </small>
                    </p>
                    {{#if summary}}<p> {{summary}} </p>{{/if}}
                  </div>
                </li>
              {{/each}}
            </ul>
            <div class='px10'></div>
            {{/if}}

            {{#if resume.volunteer}}
            <h4 id="volunteer-work"><span class="title">志愿服务</span> </h4>
            <ul class="list-unstyled">
              {{#each resume.volunteer}}
                <li class="card-nested">
                  <div class="content has-sidebar">
                    <p class="clear-margin-sm">
                      <strong>{{position}}</strong>,&nbsp;
                      {{organization}}
                    </p>
                    <p class="text-muted">
                      <small>
                        {{startDate}} - {{#if endDate}} {{endDate}} {{else}} 至今 {{/if}}
                      </small>
                    </p>
                    <p>{{summary}}</p>
                    {{#if highlights}}
                    <ul>
                      {{#each highlights}}
                        <li> {{.}} </li>
                      {{/each}}
                    </ul>
                    {{/if}}
                  </div>
                </li>
              {{/each}}
            </ul>
            <div class='px10'></div>
            {{/if}}

            {{#if resume.interests}}
            <h4 id="interests" class="print-hidden"><span class="title">兴趣领域</span> </h4>
            <div class="card-nested interests">
              <div class="interest-tags">
                {{#each resume.interests}}
                  <span class="label label-keyword">{{.}}</span>
                {{/each}}
              </div>
            </div>
            <div class='px10'></div>
            {{/if}}

            {{#if resume.references}}
            <h4 id="references"><span class="title">推荐人</span> </h4>
            <ul class="list-unstyled">
              {{#each resume.references}}
                <li class="card-nested">
                  <p>
                    <strong>{{name}}</strong>
                    <span class="text-muted">{{position}}</span>
                  </p>
                  <blockquote class="quote">
                    <p class="clear-margin">{{reference}}</p>
                  </blockquote>
                </li>
              {{/each}}
            </ul>
            <div class='px10'></div>
            {{/if}}

            <div style="text-align:center">
              <div class="detail no-print" style="font-size:1.5rem;margin-top:2rem;">
                <a href="杜审言-前端-社招-深圳.pdf" class="info" itemprop="pdf" target="_blank">
                  PDF版本
                </a>
              </div>
              <div style="opacity:0.7; font-size:1.2rem;margin-top:1rem;">最近更新： {{getBuildDate ''}}</div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script>
      async function consoleWecome(){
        console.log(`欢迎调试查看我的简历!`)
      }
      window.addEventListener('load', consoleWecome)
    </script>
  </body>
</html>
